.input {
    display: flex;
    margin-bottom: 5px;
}

.input .header {
    width: 100px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
    top: 4px;
}

.input.trigger button {
    background-color: #4e4e4e;
    border-color: transparent;
    border-radius: 3px;
    color: lightgray;
}

.input.trigger button:hover {
    background-color: #656565;
}

.input.data input {
    background-color: #222222;
    border-color: transparent;
    border-radius: 3px;
    color: lightgray;
}

.input.data input[type='number'] {
    appearance: textfield;
}

.input.data .input-with-slider button {
    background-color: transparent;
    border-color: transparent;
    color: lightgray;
    position: relative;
    top: -1px;
}

.input.data .input-with-slider button:hover {
    color: #ed732e;
}

.input.data .input-with-slider input[type='range'] {
    position: relative;
    outline: none;
    top: 5px;
    background-color: transparent;
    border-color: transparent;
}

.input.data .input-with-slider input[type='range']::-moz-range-thumb {
    background-color: #545454;
    border-color: transparent;
}

.input.data .input-with-slider input[type='range']::-moz-range-track {
    background-color: #1c1c1c;
    border-color: transparent;
    height: 5px;
}

.input.data .input-with-slider input[type='range']::-moz-range-progress {
    background-color: #545454;
    border-color: transparent;
    height: 5px;
}
